{% extends "root.htm" %}

{% include 'header.htm' %}

{% block content %}
<div class="container p-4">
<h2>Leaderboard for {{ title }}</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Model</th>
        <th scope="col">Author</th>
        <th scope="col">Paper</th>
        <th scope="col">Code</th>
        <th scope="col">BLEU</th>
        </tr>
    </thead>
    <tbody>
        {% for model in scores %}

            <tr>
            <th scope="row">{{ model.rank }}</th>
            <td>{{ model.desc }}</td>
            <td>{{ model.author }}</td>
            <td><a href="#">[arxiv]</a></td>
            <td><a href="#">[github]</a></td>
            <td>{{ model.bleu_score}}</td>
            </tr>

        {% endfor %}
        
    </tbody>
    </table>
</div>
{% endblock %}