{% extends "root.htm" %}

{% include 'header.htm' %}

{% block content %}
<div class="container p-4">
<h2>Leaderboard for the Du et al 2017 split of SQuAD</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Model</th>
        <th scope="col">Author</th>
        <th scope="col">Paper</th>
        <th scope="col">Code</th>
        <th scope="col">BLEU</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Seq2Seq + attn</td>
        <td>Hosking et al (2019)</td>
        <td><a href="#">[arxiv]</a></td>
        <td><a href="#">[github]</a></td>
        <td>13.45</td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Seq2Seq</td>
        <td>Du et al (2017)</td>
        <td>[arxiv]</td>
        <td>[github]</td>
        <td>12.34</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Heilemann</td>
        <td>Heilemann</td>
        <td>[arxiv]</td>
        <td>[github]</td>
        <td>9.54</td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock %}