{% extends "root.htm" %}

{% include 'header.htm' %}

{% block title %}Leaderboard for {{ title }}{% endblock %}

{% block content %}
<div class="container p-4">
<h2>Leaderboard for {{ title }}</h2>
<br/>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">Model</th>
        <th scope="col">Author</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">BLEU</th>
        <th scope="col" data-toggle="tooltip" data-placement="bottom" title="Verified models have provided us generated questions, and we have confirmed the reported BLEU score ourselves." ><span style="border-bottom: 1px dotted #000;">Verified</span></th>
        </tr>
    </thead>
    <tbody>
        {% for model in scores %}

            <tr>
            <th class="align-middle" scope="row">{{ model.rank }}</th>
            <td class="align-middle">{{ model.name }} <hr class="m-1" /><small class="text-muted">{{ model.desc }}</small></td>
            <td>{{ model.author }} <span class="text-muted">({{ model.year }})</span> <hr class="m-1" /><small>{{ model.affiliation }}</td>
            <td class="align-middle">
                {% if model.paper_url %}
                    <a href="{{ model.paper_url }}" class="btn btn-info btn-sm">Paper</a>
                {% else %}
                    
                {% endif %}
            </td>
            <td class="align-middle">
                {% if model.code_url %}
                    <a href="{{ model.code_url }}" class="btn btn-info btn-sm">Code</a>
                {% else %}
                    
                {% endif %}
            </td>
            <td class="align-middle">{{ model.bleu_score}}</td>
            <td class="align-middle">{% if model.verified %} <i class="fa fa-check" aria-hidden="true"></i> {% else %} <i class="fa fa-close" aria-hidden="true"></i> {% endif %}</td>
            </tr>

        {% endfor %}
        
    </tbody>
    </table>
    <p>Is your model missing? <a href="/submit">Submit it!</a></p>
</div>
{% endblock %}