{% extends "root.htm" %}

{% include 'header.htm' %}


{% block content %}
<div class="jumbotron">
    <h2 class="display-4">Answer Questioning Leaderboard</h2>
    <p class="lead">Tracking current state-of-the-art (SotA) in question generation</p>
    <hr class="my-4">
    <p><strong>Current tracked AQ datasets:</strong> <a href="/squad"><button class="btn btn-primary">SQuAD</button></a></p>
    <p>Interested in this project? Contact <a href="mailto:qgen@tomho.sk">qgen@tomho.sk</a>.</p>
    
</div>

{% endblock %}